/* shared css */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  /* font-weight: 400; */
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* main css */

#top-navbar {
  max-width: 1600px;
  background-color: #ffffff;
  padding: 16px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  max-width: 139px;
  margin-right: 346px;
}

.menu-bar {
  display: flex;
  margin-right: 346px;
}

.menu-bar .menu a {
  margin-right: 32px;
  text-decoration: none;
  cursor: pointer;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}

.nav-btn .btn {
  /* max-width: 132px; */
  padding: 12.5px 16px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #469165;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 24px;
}


.banner-container{
  background-image: url(../B13-A01-Knowledge-Vault/assets/hero-bg.png);
  max-width: 1600px;
}